:root  {
  --dark-violet: hsl(278, 68%, 11%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(270, 3%, 87%);
  --dark-gray: hsl(279, 6%, 55%);
  --red: hsl(0, 100%, 66%);
  --violet: hsl(249, 99%, 64%);
  --dark-purple: hsl(278, 94%, 30%);
}

/**************************** ELEMENT SELECTORS ****************************/

body {
  font-size: 16px;
  font-family: 'Space Grotesk', sans-serif;
  color: var(--white);
}

button {
  min-width: 100%;
  height: 50px;
  background-color: var(--dark-violet);
  color: var(--white);
  border: none;
  border-radius: 5px;
}

input[type="text"] {
  padding: 0 0 0 10px;
  margin: 10px 0 20px 0;
  height: 40px;
  border: 2px solid var(--light-gray);
  border-radius: 5px;
  outline: none !important;
}

/*
 * Cannot use 'border-color' with a gradient.
 * The solution is to have two borders. One that
 * is the color of the inner part of the text field. The
 * other is the actual gradient that you want to use.
 * The 'background-image' is used to create two boxes.
 * The inner part is white and the outer part (2px in size)
 * uses the linear gradient.
 */
input[type="text"]:focus {
  border: double 2px transparent;
  background-image: linear-gradient(var(--white), var(--white)),
                    linear-gradient(to right, var(--violet), var(--dark-purple));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

label {
  color: var(--dark-violet);
}

label, input[type="text"] {
  display: block;
}

/**************************** CLASS SELECTORS ****************************/

.background {
  position: relative;
  min-height: 100vh;
  min-width: 100%;
  background-image: url('../images/bg-main-desktop.png');
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  align-items: center;
}

.card-input-container {
  max-width: 450px;
}

.column-container {
  display: flex;
  flex-direction: column;
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.image-cover {
  background-size: cover;
  background-repeat: no-repeat;
}

.credit-card-front {
  position: absolute;
  top: 175px;
  left: 150px;
  z-index: 1;
}

.credit-card-back {
  position: absolute;
  top: 452px;
  left: 200px;
  z-index: 1;
}

.small-input {
  max-width: 60px;
  width: 60px;
}

.medium-input {
  max-width: 180px;
  width: 180px;
}

.small-gap {
  gap: 5px;
}

.medium-gap {
  gap: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/**************************** ID SELECTORS ****************************/

#card-num{
  position: absolute;
  left: 0;
  bottom: 55px;
  min-width: 100%;
  font-size: 26px;
  letter-spacing: 4px;
  text-align: center;
}

#card-holder {
  position: absolute;
  left: 40px;
  bottom: 20px;
  font-size: 14px;
  letter-spacing: 2px;
}

#expiration {
  position: absolute;
  right: 40px;
  bottom: 20px;
  font-size: 14px;
  letter-spacing: 2px;
}

#cvc {
  position: absolute;
  top: 98px;
  right: 50px;
  font-size: 14px;
  letter-spacing: 4px;
}
