:root  {
  --dark-violet: hsl(278, 68%, 11%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(270, 3%, 87%);
  --dark-gray: hsl(279, 6%, 55%);
  --red: hsl(0, 100%, 66%);
  --violet: hsl(249, 99%, 64%);
  --dark-purple: hsl(278, 94%, 30%);
}

/**************************** ELEMENT SELECTORS ****************************/

body {
  font-size: 1rem;
  font-family: 'Space Grotesk', sans-serif;
}

h1 {
  font-size: 1.5rem;
  color: var(--dark-violet);
  letter-spacing: 0.25rem;
}

p {
  color: var(--dark-gray);
}

button {
  min-width: 100%;
  height: 3.125rem;
  background-color: var(--dark-violet);
  color: var(--white);
  border: none;
  border-radius: 5px;
}

input {
  padding: 0 0 0 0.625rem;
  margin: 0.625rem 0 1.25rem 0;
  height: 2.5rem;
  border: 2px solid var(--light-gray);
  border-radius: 5px;
  outline: none !important;
}

/*
 * Cannot use 'border-color' with a gradient.
 * The solution is to have two borders. One that
 * is the color of the inner part of the text field. The
 * other is the actual gradient that you want to use.
 * The 'background-image' is used to create two boxes.
 * The inner part is white and the outer part (2px in size)
 * uses the linear gradient.
 */
input[type="text"]:focus {
  border: double 2px transparent;
  background-image: linear-gradient(var(--white), var(--white)),
                    linear-gradient(to right, var(--violet), var(--dark-purple));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

label {
  color: var(--dark-violet);
}

label, input[type="text"] {
  display: block;
}

input.error {
  margin: 0.625rem 0 0.3125rem 0;
  border: double 2px transparent;
  background-image: linear-gradient(var(--white), var(--white)),
                    linear-gradient(var(--red), var(--red));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

input.semi-valid {
  margin: 0.625rem 0 0.3125rem 0;
}

label.error {
  margin: 0 0 0.625rem 0;
  font-size: 0.6875rem;
  color: var(--red);
}

/**************************** CLASS SELECTORS ****************************/

/********** INTERACTIVE CARD CLASSES **********/

.background {
  position: relative;
  min-height: 100vh;
  min-width: 100%;
  background-image: url('../images/bg-main-desktop.png');
}

.card-logo {
  position: absolute;
  top: 1.875rem;
  left: 1.875rem;
}

.card-front {
  position: absolute;
  top: 10.9375rem;
  left: 9.375rem;
  z-index: 1;
}

.card-back {
  position: absolute;
  top: 28.25rem;
  left: 14.0625rem;
  z-index: 1;
}

/********** LAYOUT CLASSES **********/

.main-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
}

.column-container {
  display: flex;
  flex-direction: column;
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.centered {
  justify-content: center;
  align-items: center;
}

/********** CARD INPUT FORM CLASSES **********/

.card-input-container {
  margin: auto auto;
  max-width: 28.125rem;
}

.completion-logo {
  max-width: 6rem;
  max-height: 6rem;
}

/********** COMPLETION FORM CLASSES **********/

.completion-title {
  margin: 2rem 0 0.5rem 0;
}

.completion-info {
  margin: 0.5rem 0 3rem 0;
}

/********** ATTRIBUTION CLASSES **********/

.attribution p {
  color: var(--dark-violet);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

/********** UTILITY CLASSES **********/

.image-cover {
  background-size: cover;
  background-repeat: no-repeat;
}

.medium-input {
  max-width: 11.25rem;
}

.small-input {
  max-width: 3.75rem
}

.medium-gap {
  gap: 1rem;
}

.small-gap {
  gap: 0.3125rem;
}

/**************************** ID SELECTORS ****************************/

#card-number {
  position: absolute;
  left: 0;
  bottom: 3.4375rem;
  min-width: 27.9375rem;
  font-size: 1.625rem;
  color: var(--white);
  letter-spacing: 0.25rem;
  text-align: center;
  text-decoration: none;
}

#card-holder {
  position: absolute;
  left: 2.5rem;
  bottom: 1.25rem;
  font-size: 0.875rem;
  color: var(--white);
  letter-spacing: 0.125rem;
}

#expiration {
  position: absolute;
  left: 22.3125rem;
  bottom: 1.25rem;
  font-size: 0.875rem;
  color: var(--white);
  letter-spacing: 0.125rem;
}

#cvc {
  position: absolute;
  top: 6.125rem;
  left: 21.875rem;
  font-size: 0.875rem;
  color: var(--white);
  letter-spacing: 0.25rem;
}

/**************************** MEDIA QUERY ****************************/

@media(max-width: 1350px) {

  .background {
    position: relative;
    min-height: 16rem;
    min-width: 100%;
    background-image: url('../images/bg-main-mobile.png');
  }

  .main-container {
    min-height: 16rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: flex-start;
  }

  .card-input-container {
    margin: 6rem 1rem;
    max-width: 28.125rem;
  }

  .card-front {
    position: absolute;
    top: 6rem;
    left: 45%;
    transform: translate(-50%) scale(0.65);
    z-index: 2;
  }

  .card-back {
    position:absolute;
    top: 0.375rem;
    left:55%;
    transform:translate(-50%) scale(0.65);
    z-index: 1;
  }

}
